.main {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 0 auto;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.mainContent {
  display: flex;
  align-items: center;
  width: 100%;
}

.profilePhoto {
  max-width: 250px;
  border-radius: 8px;
  margin-right: 20px;
  height: auto;
}

.projectsSection {
  width: 100%;
  align-items: center;
  padding: 75px;
  color: white;
}

.projectsList {
  list-style-type: disc;
  padding-left: 20px;
}
